---
http_interactions:
- request:
    method: post
    uri: https://demo.dspacedirect.net/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token: []
  response:
    status:
      code: 403
      message: '403'
    headers:
      content-type:
      - application/json;charset=UTF-8
      dspace-xsrf-token:
      - 74e7afc7-5b38-43d3-99d7-ee428512fd1a
    body:
      encoding: UTF-8
      string: '{"timestamp":"2022-07-03T22:38:01.012+00:00","status":403,"error":"Forbidden","message":"Access
        is denied. Invalid CSRF token.","path":"/server/api/authn/login"}'
  recorded_at: Sun, 03 Jul 2022 22:38:00 GMT
- request:
    method: post
    uri: https://demo.dspacedirect.net/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token:
      - 74e7afc7-5b38-43d3-99d7-ee428512fd1a
  response:
    status:
      code: 200
      message: '200'
    headers:
      dspace-xsrf-token:
      - 68fbc5a3-d252-4ac3-a14c-b3f321d2210f
      authorization:
      - "<TOKEN>"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 03 Jul 2022 22:38:01 GMT
- request:
    method: get
    uri: https://demo.dspacedirect.net/server/api/discover/browses/dateissued
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-XSRF-Token:
      - 68fbc5a3-d252-4ac3-a14c-b3f321d2210f
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: '200'
    headers:
      content-type:
      - application/hal+json;charset=UTF-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: '{"id":"dateissued","metadataBrowse":false,"dataType":"date","sortOptions":[{"name":"title","metadata":"dc.title"},{"name":"dateissued","metadata":"dc.date.issued"},{"name":"dateaccessioned","metadata":"dc.date.accessioned"}],"order":"ASC","type":"browse","metadata":["dc.date.issued"],"_links":{"items":{"href":"https://demo.dspacedirect.net/server/api/discover/browses/dateissued/items"},"entries":{"href":"https://demo.dspacedirect.net/server/api/discover/browses/dateissued/entries"},"self":{"href":"https://demo.dspacedirect.net/server/api/discover/browses/dateissued"}}}'
  recorded_at: Sun, 03 Jul 2022 22:38:01 GMT
recorded_with: VCR 6.1.0
