---
http_interactions:
- request:
    method: post
    uri: https://demo.dspacedirect.net/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token: []
  response:
    status:
      code: 403
      message: '403'
    headers:
      content-type:
      - application/json;charset=UTF-8
      dspace-xsrf-token:
      - 4494ce11-ebf5-4807-8fff-bdc5bcf1b017
    body:
      encoding: UTF-8
      string: '{"timestamp":"2022-07-03T22:37:04.834+00:00","status":403,"error":"Forbidden","message":"Access
        is denied. Invalid CSRF token.","path":"/server/api/authn/login"}'
  recorded_at: Sun, 03 Jul 2022 22:37:04 GMT
- request:
    method: post
    uri: https://demo.dspacedirect.net/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token:
      - 4494ce11-ebf5-4807-8fff-bdc5bcf1b017
  response:
    status:
      code: 200
      message: '200'
    headers:
      dspace-xsrf-token:
      - 5edd7f80-9e62-41c6-a777-c48b7611347f
      authorization:
      - "<TOKEN>"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 03 Jul 2022 22:37:05 GMT
- request:
    method: get
    uri: https://demo.dspacedirect.net/server/api/discover/browses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-XSRF-Token:
      - 5edd7f80-9e62-41c6-a777-c48b7611347f
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: '200'
    headers:
      content-type:
      - application/hal+json;charset=UTF-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: '{"_embedded":{"browses":[{"id":"dateissued","metadataBrowse":false,"dataType":"date","sortOptions":[{"name":"title","metadata":"dc.title"},{"name":"dateissued","metadata":"dc.date.issued"},{"name":"dateaccessioned","metadata":"dc.date.accessioned"}],"order":"ASC","type":"browse","metadata":["dc.date.issued"],"_links":{"items":{"href":"https://demo.dspacedirect.net/server/api/discover/browses/dateissued/items"},"entries":{"href":"https://demo.dspacedirect.net/server/api/discover/browses/dateissued/entries"},"self":{"href":"https://demo.dspacedirect.net/server/api/discover/browses/dateissued"}}},{"id":"author","metadataBrowse":true,"dataType":"text","sortOptions":[{"name":"title","metadata":"dc.title"},{"name":"dateissued","metadata":"dc.date.issued"},{"name":"dateaccessioned","metadata":"dc.date.accessioned"}],"order":"ASC","type":"browse","metadata":["dc.contributor.*","dc.creator"],"_links":{"entries":{"href":"https://demo.dspacedirect.net/server/api/discover/browses/author/entries"},"items":{"href":"ht[...]
