---
http_interactions:
- request:
    method: post
    uri: https://demo.dspacedirect.net/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token: []
  response:
    status:
      code: 403
      message: '403'
    headers:
      content-type:
      - application/json;charset=UTF-8
      dspace-xsrf-token:
      - 6158c89c-36e3-41b7-b7ca-b45f5c8a48cf
    body:
      encoding: UTF-8
      string: '{"timestamp":"2022-07-02T21:40:25.672+00:00","status":403,"error":"Forbidden","message":"Access
        is denied. Invalid CSRF token.","path":"/server/api/authn/login"}'
  recorded_at: Sat, 02 Jul 2022 21:40:25 GMT
- request:
    method: post
    uri: https://demo.dspacedirect.net/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token:
      - 6158c89c-36e3-41b7-b7ca-b45f5c8a48cf
  response:
    status:
      code: 200
      message: '200'
    headers:
      dspace-xsrf-token:
      - c455f709-fe7f-4be0-8701-f821b6b116b2
      authorization:
      - "<TOKEN>"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 02 Jul 2022 21:40:26 GMT
- request:
    method: patch
    uri: https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0
    body:
      encoding: UTF-8
      string: '[{"op":"replace","path":"/metadata/dc.title/0","value":{"value":"DTS.COLLECTION.002"}}]'
    headers:
      Authorization:
      - "<TOKEN>"
      X-XSRF-Token:
      - c455f709-fe7f-4be0-8701-f821b6b116b2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: '200'
    headers:
      content-type:
      - application/hal+json;charset=UTF-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: '{"id":"d1456d11-760e-4760-b1b7-06988506e4b0","uuid":"d1456d11-760e-4760-b1b7-06988506e4b0","name":"DTS.COLLECTION.002","handle":"10673/2101","metadata":{"dc.identifier.uri":[{"value":"http://hdl.handle.net/10673/2101","language":null,"authority":null,"confidence":-1,"place":0}],"dc.title":[{"value":"DTS.COLLECTION.002","language":null,"authority":null,"confidence":0,"place":0}]},"type":"collection","_links":{"harvester":{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/harvester"},"itemtemplate":{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/itemtemplate"},"license":{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/license"},"logo":{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/logo"},"mappedItems":{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/mappedItems"},"parentCommunity":{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/parentCommunity"},"adminGroup":{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/adminGroup"},"submittersGroup":{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/submittersGroup"},"itemReadGroup":{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/itemReadGroup"},"bitstreamReadGroup":{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/bitstreamReadGroup"},"self":{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0"},"workflowGroups":[{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/workflowGroups/editor","name":"editor"},{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/workflowGroups/finaleditor","name":"finaleditor"},{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/workflowGroups/reviewer","name":"reviewer"}]}}'
  recorded_at: Sat, 02 Jul 2022 21:40:26 GMT
recorded_with: VCR 6.1.0
