---
http_interactions:
- request:
    method: get
    uri: https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-XSRF-Token: []
  response:
    status:
      code: 200
      message: '200'
    headers:
      content-type:
      - application/hal+json;charset=UTF-8
      dspace-xsrf-token:
      - 6c94fa5e-15c7-4b2a-922e-edcc6b8aa41a
      content-language:
      - en
    body:
      encoding: UTF-8
      string: '{"id":"d1456d11-760e-4760-b1b7-06988506e4b0","uuid":"d1456d11-760e-4760-b1b7-06988506e4b0","name":"DTS.COLLECTION.001","handle":"10673/2101","metadata":{"dc.identifier.uri":[{"value":"http://hdl.handle.net/10673/2101","language":null,"authority":null,"confidence":-1,"place":0}],"dc.title":[{"value":"DTS.COLLECTION.001","language":null,"authority":null,"confidence":-1,"place":0}]},"type":"collection","_links":{"harvester":{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/harvester"},"itemtemplate":{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/itemtemplate"},"license":{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/license"},"logo":{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/logo"},"mappedItems":{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/mappedItems"},"parentCommunity":{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/parentCommunity"},"adminGroup":{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/adminGroup"},"submittersGroup":{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/submittersGroup"},"itemReadGroup":{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/itemReadGroup"},"bitstreamReadGroup":{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/bitstreamReadGroup"},"self":{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0"},"workflowGroups":[{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/workflowGroups/editor","name":"editor"},{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/workflowGroups/finaleditor","name":"finaleditor"},{"href":"https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0/workflowGroups/reviewer","name":"reviewer"}]}}'
  recorded_at: Sat, 02 Jul 2022 21:40:25 GMT
recorded_with: VCR 6.1.0
