---
http_interactions:
- request:
    method: post
    uri: https://demo.dspacedirect.net/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token: []
  response:
    status:
      code: 403
      message: '403'
    headers:
      content-type:
      - application/json;charset=UTF-8
      dspace-xsrf-token:
      - f08749d6-320a-4953-80bf-b5ffa608be43
    body:
      encoding: UTF-8
      string: '{"timestamp":"2022-07-02T21:40:34.790+00:00","status":403,"error":"Forbidden","message":"Access
        is denied. Invalid CSRF token.","path":"/server/api/authn/login"}'
  recorded_at: Sat, 02 Jul 2022 21:40:34 GMT
- request:
    method: post
    uri: https://demo.dspacedirect.net/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token:
      - f08749d6-320a-4953-80bf-b5ffa608be43
  response:
    status:
      code: 200
      message: '200'
    headers:
      dspace-xsrf-token:
      - 110bad38-6bb3-420a-a7ed-a4a108934d28
      authorization:
      - "<TOKEN>"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 02 Jul 2022 21:40:35 GMT
- request:
    method: delete
    uri: https://demo.dspacedirect.net/server/api/core/collections/d1456d11-760e-4760-b1b7-06988506e4b0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-XSRF-Token:
      - 110bad38-6bb3-420a-a7ed-a4a108934d28
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 204
      message: '204'
    headers:
      content-language:
      - en
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 02 Jul 2022 21:40:36 GMT
recorded_with: VCR 6.1.0
