---
http_interactions:
- request:
    method: post
    uri: https://demo.dspacedirect.net/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token: []
  response:
    status:
      code: 403
      message: '403'
    headers:
      content-type:
      - application/json;charset=UTF-8
      dspace-xsrf-token:
      - 7eadfe7e-fdef-4507-9d1a-2e4826ab39d8
    body:
      encoding: UTF-8
      string: '{"timestamp":"2022-07-02T21:40:59.191+00:00","status":403,"error":"Forbidden","message":"Access
        is denied. Invalid CSRF token.","path":"/server/api/authn/login"}'
  recorded_at: Sat, 02 Jul 2022 21:40:59 GMT
- request:
    method: post
    uri: https://demo.dspacedirect.net/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token:
      - 7eadfe7e-fdef-4507-9d1a-2e4826ab39d8
  response:
    status:
      code: 200
      message: '200'
    headers:
      dspace-xsrf-token:
      - 751a1e78-ce80-487a-886c-afb057210171
      authorization:
      - "<TOKEN>"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 02 Jul 2022 21:40:59 GMT
- request:
    method: post
    uri: https://demo.dspacedirect.net/server/api/core/communities
    body:
      encoding: UTF-8
      string: '{"name":"DTS.COMMUNITY.001","metadata":{"dc.title":[{"value":"DTS.COMMUNITY.001","language":null,"authority":null,"confidence":-1}]}}'
    headers:
      Authorization:
      - "<TOKEN>"
      X-XSRF-Token:
      - 751a1e78-ce80-487a-886c-afb057210171
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: '201'
    headers:
      content-type:
      - application/hal+json;charset=UTF-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: '{"id":"41a47b5c-f63c-4f5a-8d9e-0aeb4803f9fd","uuid":"41a47b5c-f63c-4f5a-8d9e-0aeb4803f9fd","name":"DTS.COMMUNITY.001","handle":"10673/2102","metadata":{"dc.identifier.uri":[{"value":"http://hdl.handle.net/10673/2102","language":null,"authority":null,"confidence":-1,"place":0}],"dc.title":[{"value":"DTS.COMMUNITY.001","language":null,"authority":null,"confidence":-1,"place":0}]},"type":"community","_links":{"collections":{"href":"https://demo.dspacedirect.net/server/api/core/communities/41a47b5c-f63c-4f5a-8d9e-0aeb4803f9fd/collections"},"logo":{"href":"https://demo.dspacedirect.net/server/api/core/communities/41a47b5c-f63c-4f5a-8d9e-0aeb4803f9fd/logo"},"subcommunities":{"href":"https://demo.dspacedirect.net/server/api/core/communities/41a47b5c-f63c-4f5a-8d9e-0aeb4803f9fd/subcommunities"},"parentCommunity":{"href":"https://demo.dspacedirect.net/server/api/core/communities/41a47b5c-f63c-4f5a-8d9e-0aeb4803f9fd/parentCommunity"},"adminGroup":{"href":"https://demo.dspacedirect.net/server/api/core/communities/41a47b5c-f63c-4f5a-8d9e-0aeb4803f9fd/adminGroup"},"self":{"href":"https://demo.dspacedirect.net/server/api/core/communities/41a47b5c-f63c-4f5a-8d9e-0aeb4803f9fd"}}}'
  recorded_at: Sat, 02 Jul 2022 21:41:00 GMT
recorded_with: VCR 6.1.0
