---
http_interactions:
- request:
    method: post
    uri: https://demo.dspacedirect.net/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token: []
  response:
    status:
      code: 403
      message: '403'
    headers:
      content-type:
      - application/json;charset=UTF-8
      dspace-xsrf-token:
      - f7e1c304-12e0-4c3c-b860-90a9a75e0be6
    body:
      encoding: UTF-8
      string: '{"timestamp":"2022-07-02T21:44:11.886+00:00","status":403,"error":"Forbidden","message":"Access
        is denied. Invalid CSRF token.","path":"/server/api/authn/login"}'
  recorded_at: Sat, 02 Jul 2022 21:44:11 GMT
- request:
    method: post
    uri: https://demo.dspacedirect.net/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token:
      - f7e1c304-12e0-4c3c-b860-90a9a75e0be6
  response:
    status:
      code: 200
      message: '200'
    headers:
      dspace-xsrf-token:
      - dd9f6808-e475-4ed3-b631-3c8c662b782e
      authorization:
      - "<TOKEN>"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 02 Jul 2022 21:44:12 GMT
- request:
    method: patch
    uri: https://demo.dspacedirect.net/server/api/core/communities/41a47b5c-f63c-4f5a-8d9e-0aeb4803f9fd
    body:
      encoding: UTF-8
      string: '[{"op":"replace","path":"/metadata/dc.title/0","value":{"value":"DTS.COMMUNITY.002"}}]'
    headers:
      Authorization:
      - "<TOKEN>"
      X-XSRF-Token:
      - dd9f6808-e475-4ed3-b631-3c8c662b782e
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: '200'
    headers:
      content-type:
      - application/hal+json;charset=UTF-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: '{"id":"41a47b5c-f63c-4f5a-8d9e-0aeb4803f9fd","uuid":"41a47b5c-f63c-4f5a-8d9e-0aeb4803f9fd","name":"DTS.COMMUNITY.002","handle":"10673/2102","metadata":{"dc.identifier.uri":[{"value":"http://hdl.handle.net/10673/2102","language":null,"authority":null,"confidence":-1,"place":0}],"dc.title":[{"value":"DTS.COMMUNITY.002","language":null,"authority":null,"confidence":0,"place":0}]},"type":"community","_links":{"collections":{"href":"https://demo.dspacedirect.net/server/api/core/communities/41a47b5c-f63c-4f5a-8d9e-0aeb4803f9fd/collections"},"logo":{"href":"https://demo.dspacedirect.net/server/api/core/communities/41a47b5c-f63c-4f5a-8d9e-0aeb4803f9fd/logo"},"subcommunities":{"href":"https://demo.dspacedirect.net/server/api/core/communities/41a47b5c-f63c-4f5a-8d9e-0aeb4803f9fd/subcommunities"},"parentCommunity":{"href":"https://demo.dspacedirect.net/server/api/core/communities/41a47b5c-f63c-4f5a-8d9e-0aeb4803f9fd/parentCommunity"},"adminGroup":{"href":"https://demo.dspacedirect.net/server/api/core/communities/41a47b5c-f63c-4f5a-8d9e-0aeb4803f9fd/adminGroup"},"self":{"href":"https://demo.dspacedirect.net/server/api/core/communities/41a47b5c-f63c-4f5a-8d9e-0aeb4803f9fd"}}}'
  recorded_at: Sat, 02 Jul 2022 21:44:13 GMT
recorded_with: VCR 6.1.0
