---
http_interactions:
- request:
    method: post
    uri: https://demo.dspacedirect.org/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token: []
  response:
    status:
      code: 403
      message: '403'
    headers:
      content-type:
      - application/json;charset=UTF-8
      dspace-xsrf-token:
      - 819c0e43-e065-4e91-9b2d-e7160546aec3
    body:
      encoding: UTF-8
      string: '{"timestamp":"2022-07-02T21:44:49.240+00:00","status":403,"error":"Forbidden","message":"Access
        is denied. Invalid CSRF token.","path":"/server/api/authn/login"}'
  recorded_at: Sat, 02 Jul 2022 21:44:49 GMT
- request:
    method: post
    uri: https://demo.dspacedirect.org/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token:
      - 819c0e43-e065-4e91-9b2d-e7160546aec3
  response:
    status:
      code: 200
      message: '200'
    headers:
      dspace-xsrf-token:
      - c67c923c-ee04-43a3-a5f0-a7b6f07dfd28
      authorization:
      - "<TOKEN>"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 02 Jul 2022 21:44:49 GMT
- request:
    method: delete
    uri: https://demo.dspacedirect.org/server/api/core/communities/41a47b5c-f63c-4f5a-8d9e-0aeb4803f9fd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-XSRF-Token:
      - c67c923c-ee04-43a3-a5f0-a7b6f07dfd28
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 204
      message: '204'
    headers:
      content-language:
      - en
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 02 Jul 2022 21:44:50 GMT
recorded_with: VCR 6.1.0
