---
http_interactions:
- request:
    method: get
    uri: https://demo.dspacedirect.net/server/api/core/items/5eb19b24-9a37-4386-858e-131eb3db5c66
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-XSRF-Token: []
  response:
    status:
      code: 200
      message: '200'
    headers:
      content-type:
      - application/hal+json;charset=UTF-8
      dspace-xsrf-token:
      - 7b3e4b92-0750-499a-8f2e-c1978781a1fc
      content-language:
      - en
    body:
      encoding: UTF-8
      string: '{"id":"5eb19b24-9a37-4386-858e-131eb3db5c66","uuid":"5eb19b24-9a37-4386-858e-131eb3db5c66","name":"DTS.ITEM.001","handle":"10673/2107","metadata":{"dc.date.accessioned":[{"value":"2022-07-23T20:50:40Z","language":null,"authority":null,"confidence":-1,"place":0}],"dc.date.available":[{"value":"2022-07-23T20:50:40Z","language":null,"authority":null,"confidence":-1,"place":0}],"dc.identifier.uri":[{"value":"http://hdl.handle.net/10673/2107","language":null,"authority":null,"confidence":-1,"place":0}],"dc.title":[{"value":"DTS.ITEM.001","language":null,"authority":null,"confidence":-1,"place":0}]},"inArchive":true,"discoverable":true,"withdrawn":false,"lastModified":"2022-07-23T20:50:40.796+00:00","entityType":null,"type":"item","_links":{"bundles":{"href":"https://demo.dspacedirect.net/server/api/core/items/5eb19b24-9a37-4386-858e-131eb3db5c66/bundles"},"mappedCollections":{"href":"https://demo.dspacedirect.net/server/api/core/items/5eb19b24-9a37-4386-858e-131eb3db5c66/mappedCollections"},"owningCollection":{"href":"https://demo.dspacedirect.net/server/api/core/items/5eb19b24-9a37-4386-858e-131eb3db5c66/owningCollection"},"relationships":{"href":"https://demo.dspacedirect.net/server/api/core/items/5eb19b24-9a37-4386-858e-131eb3db5c66/relationships"},"version":{"href":"https://demo.dspacedirect.net/server/api/core/items/5eb19b24-9a37-4386-858e-131eb3db5c66/version"},"templateItemOf":{"href":"https://demo.dspacedirect.net/server/api/core/items/5eb19b24-9a37-4386-858e-131eb3db5c66/templateItemOf"},"thumbnail":{"href":"https://demo.dspacedirect.net/server/api/core/items/5eb19b24-9a37-4386-858e-131eb3db5c66/thumbnail"},"self":{"href":"https://demo.dspacedirect.net/server/api/core/items/5eb19b24-9a37-4386-858e-131eb3db5c66"}}}'
  recorded_at: Sat, 23 Jul 2022 20:51:04 GMT
recorded_with: VCR 6.1.0
