---
http_interactions:
- request:
    method: post
    uri: https://demo.dspacedirect.net/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token: []
  response:
    status:
      code: 403
      message: '403'
    headers:
      content-type:
      - application/json;charset=UTF-8
      dspace-xsrf-token:
      - 8995044b-a622-4430-9d4f-0a2e0ea1babe
    body:
      encoding: UTF-8
      string: '{"timestamp":"2022-07-23T20:51:11.900+00:00","status":403,"error":"Forbidden","message":"Access
        is denied. Invalid CSRF token.","path":"/server/api/authn/login"}'
  recorded_at: Sat, 23 Jul 2022 20:51:11 GMT
- request:
    method: post
    uri: https://demo.dspacedirect.net/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token:
      - 8995044b-a622-4430-9d4f-0a2e0ea1babe
  response:
    status:
      code: 200
      message: '200'
    headers:
      dspace-xsrf-token:
      - 2bce7681-074b-4923-ae4b-769596c890dc
      authorization:
      - "<TOKEN>"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 23 Jul 2022 20:51:12 GMT
- request:
    method: patch
    uri: https://demo.dspacedirect.net/server/api/core/items/5eb19b24-9a37-4386-858e-131eb3db5c66
    body:
      encoding: UTF-8
      string: '[{"op":"add","path":"/metadata/dc.contributor.author/0","value":"TEST"}]'
    headers:
      Authorization:
      - "<TOKEN>"
      X-XSRF-Token:
      - 2bce7681-074b-4923-ae4b-769596c890dc
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: '200'
    headers:
      content-type:
      - application/hal+json;charset=UTF-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: '{"id":"5eb19b24-9a37-4386-858e-131eb3db5c66","uuid":"5eb19b24-9a37-4386-858e-131eb3db5c66","name":"DTS.ITEM.001","handle":"10673/2107","metadata":{"dc.contributor.author":[{"value":"TEST","language":null,"authority":null,"confidence":-1,"place":0}],"dc.date.accessioned":[{"value":"2022-07-23T20:50:40Z","language":null,"authority":null,"confidence":-1,"place":0}],"dc.date.available":[{"value":"2022-07-23T20:50:40Z","language":null,"authority":null,"confidence":-1,"place":0}],"dc.description.provenance":[{"value":"Made
        available in DSpace on 2022-07-23T20:50:40Z (GMT). No. of bitstreams: 0","language":"en","authority":null,"confidence":-1,"place":0}],"dc.identifier.uri":[{"value":"http://hdl.handle.net/10673/2107","language":null,"authority":null,"confidence":-1,"place":0}],"dc.title":[{"value":"DTS.ITEM.001","language":null,"authority":null,"confidence":-1,"place":0}]},"inArchive":true,"discoverable":true,"withdrawn":false,"lastModified":"2022-07-23T20:51:12.820+00:00","entityType":null,"type":"item","_links":{"bundles":{"href":"https://demo.dspacedirect.net/server/api/core/items/5eb19b24-9a37-4386-858e-131eb3db5c66/bundles"},"mappedCollections":{"href":"https://demo.dspacedirect.net/server/api/core/items/5eb19b24-9a37-4386-858e-131eb3db5c66/mappedCollections"},"owningCollection":{"href":"https://demo.dspacedirect.net/server/api/core/items/5eb19b24-9a37-4386-858e-131eb3db5c66/owningCollection"},"relationships":{"href":"https://demo.dspacedirect.net/server/api/core/items/5eb19b24-9a37-4386-858e-131eb3db5c66/relationships"},"version":{"href":"https://demo.dspacedirect.net/server/api/core/items/5eb19b24-9a37-4386-858e-131eb3db5c66/version"},"templateItemOf":{"href":"https://demo.dspacedirect.net/server/api/core/items/5eb19b24-9a37-4386-858e-131eb3db5c66/templateItemOf"},"thumbnail":{"href":"https://demo.dspacedirect.net/server/api/core/items/5eb19b24-9a37-4386-858e-131eb3db5c66/thumbnail"},"self":{"href":"https://demo.dspacedirect.net/server/api/core/items/5eb19b24-9a37-4386-858e-131eb3db5c66"}}}'
  recorded_at: Sat, 23 Jul 2022 20:51:13 GMT
recorded_with: VCR 6.1.0
