---
http_interactions:
- request:
    method: post
    uri: https://demo.dspacedirect.org/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token: []
  response:
    status:
      code: 403
      message: '403'
    headers:
      content-type:
      - application/json;charset=UTF-8
      dspace-xsrf-token:
      - a1e9cb50-6ce2-4cfc-8271-d5d5147bdf30
    body:
      encoding: UTF-8
      string: '{"timestamp":"2022-07-23T20:51:19.682+00:00","status":403,"error":"Forbidden","message":"Access
        is denied. Invalid CSRF token.","path":"/server/api/authn/login"}'
  recorded_at: Sat, 23 Jul 2022 20:51:19 GMT
- request:
    method: post
    uri: https://demo.dspacedirect.org/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token:
      - a1e9cb50-6ce2-4cfc-8271-d5d5147bdf30
  response:
    status:
      code: 200
      message: '200'
    headers:
      dspace-xsrf-token:
      - 6f2bca78-02fe-4b59-b498-85f391e6115b
      authorization:
      - "<TOKEN>"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 23 Jul 2022 20:51:20 GMT
- request:
    method: delete
    uri: https://demo.dspacedirect.org/server/api/core/items/5eb19b24-9a37-4386-858e-131eb3db5c66
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-XSRF-Token:
      - 6f2bca78-02fe-4b59-b498-85f391e6115b
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 204
      message: '204'
    headers:
      content-language:
      - en
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 23 Jul 2022 20:51:20 GMT
recorded_with: VCR 6.1.0
