---
http_interactions:
- request:
    method: post
    uri: https://demo.dspacedirect.org/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token: []
  response:
    status:
      code: 403
      message: '403'
    headers:
      content-type:
      - application/json;charset=UTF-8
      dspace-xsrf-token:
      - eb517545-2548-4fc8-a930-811241c9f26b
    body:
      encoding: UTF-8
      string: '{"timestamp":"2022-07-02T21:49:27.946+00:00","status":403,"error":"Forbidden","message":"Access
        is denied. Invalid CSRF token.","path":"/server/api/authn/login"}'
  recorded_at: Sat, 02 Jul 2022 21:49:27 GMT
- request:
    method: post
    uri: https://demo.dspacedirect.org/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token:
      - eb517545-2548-4fc8-a930-811241c9f26b
  response:
    status:
      code: 200
      message: '200'
    headers:
      dspace-xsrf-token:
      - bff77496-d6c5-40e6-b0d0-24c56cc5e005
      authorization:
      - "<TOKEN>"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 02 Jul 2022 21:49:28 GMT
- request:
    method: patch
    uri: https://demo.dspacedirect.org/server/api/eperson/epersons/de9209ca-3cd9-49a1-a3ea-5fea15c31cb5
    body:
      encoding: UTF-8
      string: '[{"op":"replace","path":"/canLogin","value":"true"}]'
    headers:
      Authorization:
      - "<TOKEN>"
      X-XSRF-Token:
      - bff77496-d6c5-40e6-b0d0-24c56cc5e005
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: '200'
    headers:
      content-type:
      - application/hal+json;charset=UTF-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: '{"id":"de9209ca-3cd9-49a1-a3ea-5fea15c31cb5","uuid":"de9209ca-3cd9-49a1-a3ea-5fea15c31cb5","name":"user@institution.edu","handle":null,"metadata":{},"netid":null,"lastActive":null,"canLogIn":true,"email":"user@institution.edu","requireCertificate":false,"selfRegistered":false,"type":"eperson","_links":{"groups":{"href":"https://demo.dspacedirect.org/server/api/eperson/epersons/de9209ca-3cd9-49a1-a3ea-5fea15c31cb5/groups"},"self":{"href":"https://demo.dspacedirect.org/server/api/eperson/epersons/de9209ca-3cd9-49a1-a3ea-5fea15c31cb5"}}}'
  recorded_at: Sat, 02 Jul 2022 21:49:28 GMT
recorded_with: VCR 6.1.0
