---
http_interactions:
- request:
    method: post
    uri: https://demo.dspacedirect.net/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token: []
  response:
    status:
      code: 403
      message: '403'
    headers:
      content-type:
      - application/json;charset=UTF-8
      dspace-xsrf-token:
      - ba58152e-79e5-48fa-aa22-5d0e8216d07d
    body:
      encoding: UTF-8
      string: '{"timestamp":"2022-07-02T21:57:45.069+00:00","status":403,"error":"Forbidden","message":"Access
        is denied. Invalid CSRF token.","path":"/server/api/authn/login"}'
  recorded_at: Sat, 02 Jul 2022 21:57:45 GMT
- request:
    method: post
    uri: https://demo.dspacedirect.net/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token:
      - ba58152e-79e5-48fa-aa22-5d0e8216d07d
  response:
    status:
      code: 200
      message: '200'
    headers:
      dspace-xsrf-token:
      - c9b61a2b-83cc-4934-a545-4b48dc06ae91
      authorization:
      - "<TOKEN>"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 02 Jul 2022 21:57:45 GMT
- request:
    method: get
    uri: https://demo.dspacedirect.net/server/api/eperson/epersons/search/byMetadata?query=lyrasis
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-XSRF-Token:
      - c9b61a2b-83cc-4934-a545-4b48dc06ae91
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: '200'
    headers:
      content-type:
      - application/hal+json;charset=UTF-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: '{"_embedded":{"epersons":[{"id":"39a656de-c22a-49a4-b514-1d9f00c1d0b7","uuid":"39a656de-c22a-49a4-b514-1d9f00c1d0b7","name":"bbranan@lyrasis.org","handle":null,"metadata":{"dspace.agreements.cookies":[{"value":"{\"authentication\":true,\"preferences\":true,\"acknowledgement\":true,\"google-analytics\":true}","language":null,"authority":null,"confidence":-1,"place":0}],"dspace.agreements.end-user":[{"value":"true","language":null,"authority":null,"confidence":-1,"place":0}],"eperson.firstname":[{"value":"Bill","language":null,"authority":null,"confidence":-1,"place":0}],"eperson.language":[{"value":"","language":null,"authority":null,"confidence":-1,"place":0}],"eperson.lastname":[{"value":"Branan","language":null,"authority":null,"confidence":-1,"place":0}],"eperson.phone":[{"value":"","language":null,"authority":null,"confidence":-1,"place":0}]},"netid":null,"lastActive":"2022-01-12T15:57:47.305+00:00","canLogIn":true,"email":"bbranan@lyrasis.org","requireCertificate":false,"selfRegistered":false,"type":"eperson","_links":{"groups":{"href":"https://demo.dspacedirect.net/server/api/eperson/epersons/39a656de-c22a-49a4-b514-1d9f00c1d0b7/groups"},"self":{"href":"https://demo.dspacedirect.net/server/api/eperson/epersons/39a656de-c22a-49a4-b514-1d9f00c1d0b7"}}},{"id":"b8ec493f-c95b-4e2b-be93-99445a7b95a4","uuid":"b8ec493f-c95b-4e2b-be93-99445a7b95a4","name":"blake.carver@lyrasis.org","handle":null,"metadata":{"dspace.agreements.end-user":[{"value":"true","language":null,"authority":null,"confidence":-1,"place":0}],"eperson.firstname":[{"value":"Blake","language":null,"authority":null,"confidence":-1,"place":0}],"eperson.language":[{"value":"en","[...]
