---
http_interactions:
- request:
    method: post
    uri: https://demo.dspacedirect.org/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token: []
  response:
    status:
      code: 403
      message: '403'
    headers:
      content-type:
      - application/json;charset=UTF-8
      dspace-xsrf-token:
      - e705f087-ef6c-4a3f-b264-fd800dbb07b0
    body:
      encoding: UTF-8
      string: '{"timestamp":"2022-07-02T21:48:05.195+00:00","status":403,"error":"Forbidden","message":"Access
        is denied. Invalid CSRF token.","path":"/server/api/authn/login"}'
  recorded_at: Sat, 02 Jul 2022 21:48:05 GMT
- request:
    method: post
    uri: https://demo.dspacedirect.org/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token:
      - e705f087-ef6c-4a3f-b264-fd800dbb07b0
  response:
    status:
      code: 200
      message: '200'
    headers:
      dspace-xsrf-token:
      - 7157da7d-0b2c-4100-a8f9-277a63354bd3
      authorization:
      - "<TOKEN>"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 02 Jul 2022 21:48:05 GMT
- request:
    method: get
    uri: https://demo.dspacedirect.org/server/api/eperson/epersons/de9209ca-3cd9-49a1-a3ea-5fea15c31cb5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-XSRF-Token:
      - 7157da7d-0b2c-4100-a8f9-277a63354bd3
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: '200'
    headers:
      content-type:
      - application/hal+json;charset=UTF-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: '{"id":"de9209ca-3cd9-49a1-a3ea-5fea15c31cb5","uuid":"de9209ca-3cd9-49a1-a3ea-5fea15c31cb5","name":"user@institution.edu","handle":null,"metadata":{},"netid":null,"lastActive":null,"canLogIn":false,"email":"user@institution.edu","requireCertificate":false,"selfRegistered":false,"type":"eperson","_links":{"groups":{"href":"https://demo.dspacedirect.org/server/api/eperson/epersons/de9209ca-3cd9-49a1-a3ea-5fea15c31cb5/groups"},"self":{"href":"https://demo.dspacedirect.org/server/api/eperson/epersons/de9209ca-3cd9-49a1-a3ea-5fea15c31cb5"}}}'
  recorded_at: Sat, 02 Jul 2022 21:48:06 GMT
recorded_with: VCR 6.1.0
