---
http_interactions:
- request:
    method: post
    uri: https://demo.dspacedirect.org/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token: []
  response:
    status:
      code: 403
      message: '403'
    headers:
      content-type:
      - application/json;charset=UTF-8
      dspace-xsrf-token:
      - 408cefc2-9b08-48c9-bd31-04632f0a3869
    body:
      encoding: UTF-8
      string: '{"timestamp":"2022-07-02T21:55:06.993+00:00","status":403,"error":"Forbidden","message":"Access
        is denied. Invalid CSRF token.","path":"/server/api/authn/login"}'
  recorded_at: Sat, 02 Jul 2022 21:55:06 GMT
- request:
    method: post
    uri: https://demo.dspacedirect.org/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token:
      - 408cefc2-9b08-48c9-bd31-04632f0a3869
  response:
    status:
      code: 200
      message: '200'
    headers:
      dspace-xsrf-token:
      - d38305d7-c0ee-4089-bf66-bebd2efccbce
      authorization:
      - "<TOKEN>"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 02 Jul 2022 21:55:07 GMT
- request:
    method: get
    uri: https://demo.dspacedirect.org/server/api/eperson/epersons/search/byEmail?email=demo%40dspacedirect.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-XSRF-Token:
      - d38305d7-c0ee-4089-bf66-bebd2efccbce
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: '200'
    headers:
      content-type:
      - application/hal+json;charset=UTF-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: '{"id":"575d0b48-a2f9-4d91-bca4-0ab788392339","uuid":"575d0b48-a2f9-4d91-bca4-0ab788392339","name":"demo@dspacedirect.org","handle":null,"metadata":{"dspace.agreements.cookies":[{"value":"{\"authentication\":true,\"preferences\":true,\"acknowledgement\":true,\"google-analytics\":true}","language":null,"authority":null,"confidence":-1,"place":0}],"dspace.agreements.end-user":[{"value":"true","language":null,"authority":null,"confidence":-1,"place":0}],"eperson.firstname":[{"value":"DSpaceDirect","language":null,"authority":null,"confidence":-1,"place":0}],"eperson.language":[{"value":"en","language":null,"authority":null,"confidence":-1,"place":0}],"eperson.lastname":[{"value":"Administrator","language":null,"authority":null,"confidence":-1,"place":0}],"eperson.phone":[{"value":"2157280396","language":null,"authority":null,"confidence":-1,"place":0}]},"netid":null,"lastActive":"2022-07-02T21:55:07.367+00:00","canLogIn":true,"email":"demo@dspacedirect.org","requireCertificate":false,"selfRegistered":false,"type":"eperson","_links":{"groups":{"href":"https://demo.dspacedirect.org/server/api/eperson/epersons/575d0b48-a2f9-4d91-bca4-0ab788392339/groups"},"self":{"href":"https://demo.dspacedirect.org/server/api/eperson/epersons/575d0b48-a2f9-4d91-bca4-0ab788392339"}}}'
  recorded_at: Sat, 02 Jul 2022 21:55:07 GMT
[...]
