---
http_interactions:
- request:
    method: post
    uri: https://demo.dspacedirect.org/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token: []
  response:
    status:
      code: 403
      message: '403'
    headers:
      content-type:
      - application/json;charset=UTF-8
      dspace-xsrf-token:
      - 20bb1d96-3025-4644-adba-9fdccd985296
    body:
      encoding: UTF-8
      string: '{"timestamp":"2022-07-02T21:50:05.499+00:00","status":403,"error":"Forbidden","message":"Access
        is denied. Invalid CSRF token.","path":"/server/api/authn/login"}'
  recorded_at: Sat, 02 Jul 2022 21:50:05 GMT
- request:
    method: post
    uri: https://demo.dspacedirect.org/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token:
      - 20bb1d96-3025-4644-adba-9fdccd985296
  response:
    status:
      code: 200
      message: '200'
    headers:
      dspace-xsrf-token:
      - 35a671a5-1bf5-4a37-b335-5125b914db6c
      authorization:
      - "<TOKEN>"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 02 Jul 2022 21:50:05 GMT
- request:
    method: delete
    uri: https://demo.dspacedirect.org/server/api/eperson/epersons/de9209ca-3cd9-49a1-a3ea-5fea15c31cb5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-XSRF-Token:
      - 35a671a5-1bf5-4a37-b335-5125b914db6c
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 204
      message: '204'
    headers:
      content-language:
      - en
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 02 Jul 2022 21:50:06 GMT
recorded_with: VCR 6.1.0
