---
http_interactions:
- request:
    method: post
    uri: https://demo.dspacedirect.net/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token: []
  response:
    status:
      code: 403
      message: '403'
    headers:
      content-type:
      - application/json;charset=UTF-8
      dspace-xsrf-token:
      - c2a1dbb2-8622-4734-a630-b29156f8a2a1
    body:
      encoding: UTF-8
      string: '{"timestamp":"2022-07-02T21:46:45.115+00:00","status":403,"error":"Forbidden","message":"Access
        is denied. Invalid CSRF token.","path":"/server/api/authn/login"}'
  recorded_at: Sat, 02 Jul 2022 21:46:45 GMT
- request:
    method: post
    uri: https://demo.dspacedirect.net/server/api/authn/login
    body:
      encoding: US-ASCII
      string: "<AUTHENTICATION>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-XSRF-Token:
      - c2a1dbb2-8622-4734-a630-b29156f8a2a1
  response:
    status:
      code: 200
      message: '200'
    headers:
      dspace-xsrf-token:
      - 40ace4b7-4088-4fb6-9ffa-cd8425b0dbb5
      authorization:
      - "<TOKEN>"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 02 Jul 2022 21:46:45 GMT
- request:
    method: post
    uri: https://demo.dspacedirect.net/server/api/eperson/epersons
    body:
      encoding: UTF-8
      string: '{"name":"user@institution.edu","email":"user@institution.edu"}'
    headers:
      Authorization:
      - "<TOKEN>"
      X-XSRF-Token:
      - 40ace4b7-4088-4fb6-9ffa-cd8425b0dbb5
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: '201'
    headers:
      content-type:
      - application/hal+json;charset=UTF-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: '{"id":"de9209ca-3cd9-49a1-a3ea-5fea15c31cb5","uuid":"de9209ca-3cd9-49a1-a3ea-5fea15c31cb5","name":"user@institution.edu","handle":null,"metadata":{},"netid":null,"lastActive":null,"canLogIn":false,"email":"user@institution.edu","requireCertificate":false,"selfRegistered":false,"type":"eperson","_links":{"groups":{"href":"https://demo.dspacedirect.net/server/api/eperson/epersons/de9209ca-3cd9-49a1-a3ea-5fea15c31cb5/groups"},"self":{"href":"https://demo.dspacedirect.net/server/api/eperson/epersons/de9209ca-3cd9-49a1-a3ea-5fea15c31cb5"}}}'
  recorded_at: Sat, 02 Jul 2022 21:46:46 GMT
recorded_with: VCR 6.1.0
